*{
    margin: 0;
    padding: 0;
}

nav img {
    height: 15px;
    width: 15px;
}

li a ,p {
    color: rgb(92, 91, 91);
    font-size:small;

}
ul{
    list-style: none;
}
p{
    font-size: 6px;
}
.active {
    color: black;
}
.logo {
    font-weight: bolder;
  
}
nav {
    padding: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    display: block;

}
nav button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #253D78;
    padding:  4px 10px;
    font-size: 8px;

}

.appbar img{
width: 50px;
height: 50px;
}

.Priorité{
    background-color: #d1e5ee;
    padding: 30px;
    border-radius: 5px;
}
nav div{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.card{
    width: fit-content;

}

.add-card{
    padding: 10px;
    border: dashed #d1d1d2 3px;
    width: fit-content;
    background-color: #fff;
    color: rgb(189, 190, 190);
    height: fit-content;
}

.add-card img{
    height: 80px;
    width: 60px;
}
 .card h2 ,.card h3{
    font-size: 14px;

}
.add-card h2{
    font-size: 14px;

}

.notes img{
    height: 10px;
    width: 10px;
    
}
 .Priorité h3{
 font-size: 16px;
 }

