*{
    margin: 0;
    padding: 0;
}

nav img {
    height: 15px;
    width: 15px;
}

li a ,p {
    color: rgb(92, 91, 91);
    font-size:small;

}
ul{
    list-style: none;
}
p{
    font-size: 10px;
}
.active {
    color: black;
}
.logo {
    font-weight: bolder;
  
}
nav {
    padding: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    display: block;

}
nav button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #253D78;
    padding:  4px 10px;
    font-size: 12px;

}

.appbar img{
width: 50px;
height: 50px;
}

.Priorité{
   
    padding: 20px;
    border-radius: 5px;
}
nav div{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.card{
    width: fit-content;

}

.add-card{
    padding: 10px;
    border: dashed #d1d1d2 3px;
    width: fit-content;
    background-color: #fff;
    color: rgb(189, 190, 190);
    height: fit-content;
}

.add-card img{
    height: 50px;
    width: 40px;
}
 .card h2 ,left h3{
    font-size: 14px;

}
.add-card h2{
    font-size: 14px;

}

.notes img{
    height: 15px;
    width: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.notes-m img{
    height: 50px;
    width: 40px;

}
 .Priorité h3{
 font-size: 16px;
 }
left h1{
    font-size: 20px;
    font-weight: bolder;
}
.back {
      background-color: #d1e5ee;
}

.line {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #d1d1d2;
}

label {
    font-size: 18px;
}
.notes input {
    height: 18px;
    width: 18px;
}

.card{
    height: fit-content !important;
}
.add-popup{
    z-index: 999;

}

@media screen and (min-width:800px) {
    .add-popup{
        font-size: 20px;
    }
}
